:root {
  --brand-primary: #2775FF;
  --secondary: #7202bb;
  --white: #fff;
  --black: #000;
  --brk-dark-base: #272727;
  --brk-base-1: #69adff;
  --brk-base-2: #00c6ff;
  --brk-base-3: #0F5AE0;
  --brk-base-4: #e8ecff;
  --brk-base-5: #00f6ff;
  --brk-base-6: #0B98F6;
  --brk-base-7: #a7ebff;
  --brk-base-8: #1600ba;
  --brk-secondary-1: #4f34c9;
  --brk-secondary-2: #4F00BA;
  --brk-secondary-3: #7400ba;
  --brk-secondary-4: #6e50c2;
  --brk-secondary-5: #6377DF;
  --brk-secondary-6: #b50aff;
  --text-base-color-1: #c4c4c4;
  --text-base-color-2: #0F5AE0;
  --text-base-color-3: #f3f3f3;
  --form-color-1: #e8ecff;
  --brand-primary-rgb: 39, 117, 255;
  --secondary-rgb: 114, 2, 187;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --brk-dark-base-rgb: 39, 39, 39;
  --brk-base-1-rgb: 105, 173, 255;
  --brk-base-2-rgb: 0, 198, 255;
  --brk-base-3-rgb: 15, 90, 224;
  --brk-base-4-rgb: 232, 236, 255;
  --brk-base-5-rgb: 0, 246, 255;
  --brk-base-6-rgb: 11, 152, 246;
  --brk-base-7-rgb: 167, 235, 255;
  --brk-base-8-rgb: 22, 0, 186;
  --brk-secondary-1-rgb: 79, 52, 201;
  --brk-secondary-2-rgb: 79, 0, 186;
  --brk-secondary-3-rgb: 116, 0, 186;
  --brk-secondary-4-rgb: 110, 80, 194;
  --brk-secondary-5-rgb: 99, 119, 223;
  --brk-secondary-6-rgb: 181, 10, 255;
  --text-base-color-1-rgb: 196, 196, 196;
  --text-base-color-2-rgb: 15, 90, 224;
  --text-base-color-3-rgb: 243, 243, 243;
  --form-color-1-rgb: 232, 236, 255;
}
html{
	font-family: sans-serif;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	background-color: #fff;
}
nav,article,aside,details,main,header,footer,section,fieldset,figcaption,figure{
	display: block;
}
img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
	display:inline-block;
}
header,section,footer {
	position:relative;
}
ol,ul{
	list-style:none;
}
input,button,textarea {
	border:0;
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1em;
	/*-webkit-appearance:none;*/
	background-color:rgba(0, 0, 0, 0);
}
span{
	display:inline-block;
}
a:active, a:hover {
  outline: 0;
}
a, a:visited{
	text-decoration:none;
}

label, .wordWrap{
    word-wrap: break-word;
    word-break: break-all;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {
  padding: 0;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
	visibility:hidden;
	line-height: 0;
	height:0;
}
.loading_more{
	display: block;
	height: 1.5em;
	width: 100%;
}
.loading_more:before {
	display: inline-block; vertical-align: text-bottom;
	content: ' '; height: 16px; width: 16px; margin-right: 6px;
	background: url(../image/loading_more.gif) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}
.loading_more:after {
	content: '加载更多';
}
.hide{
	display: none!important;
}
.show{
	display: block!important;
}
.btn {
    text-align: center;
    width: auto;
    height: 38px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    overflow: hidden;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background: -webkit-gradient(linear,0 50%,100% 50%,color-stop(0%,#f54663),color-stop(100%,#ffa72d));
    background: -moz-linear-gradient(left,#f54663,#ffa72d);
    background: -webkit-linear-gradient(left,#f54663,#ffa72d);
    background: linear-gradient(to right,#f54663,#ffa72d);
    -moz-box-shadow: 0 5px 12px rgba(255,99,106,.39);
    -webkit-box-shadow: 0 5px 12px rgba(255,99,106,.39);
    box-shadow: 0 5px 12px rgba(255,99,106,.39);
}
